html {
    font-family: Montserrat;
;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 600;
}

img{
    border: 1px solid #2C3590;
}

.line-overlay-vertical{
    z-index: -10;
    position: fixed;
    width: 800px;
    height: 100%;
    top: 0;
    bottom: 0px;
    border-left: 1px solid #2C3590 ;
    border-right: 1px solid #2C3590 ;
}

p{
    line-height: 150%;
}

.citata{
    font-weight: 600;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.701);
}