
header{
    width: 100vw;
    background-color:#2C3590 ;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

header h4 {
    display: inline-block;
    font-weight: 400;
}

.header-image{
    width: 56px;
    height: auto;
    margin-right: 1rem;
    border: none;
}

.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-content{
    padding-right: 4rem;
    padding-left: 4rem;
    width: 100%;
    max-width: 800px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-text{
    font-size: 12px;
    text-decoration: none;
    font-weight: 300;
    color:white;
}

.menu{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.header-button{
    cursor: pointer;
    font-weight: 300;
    font-size: 12px;
    font-family: montserrat;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #6E79E6;
    border: 1px solid white;
    color: white;
    transition: 0.25s;
}

.header-button:hover{
    background-color: #2C3590;
}

@media (max-width: 750px) {
    .header-button{
        display: none;
    }

    .header-text{
        display: none;
    }

    .header-content{
        justify-content: center;
    }

    header{
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 500px) {
    header h4{
        display: none;
    }

    .header-image{
        margin: 0;
    }
}